@import "_variables";

body {
  width: 100vw;
  height: 100vh;
  background-color: $mainColor;
  color: $mainColor;
  font-size: 20px;
  overflow-x: hidden;
}

.grid-wrap {
  position: fixed;
  width: 100%;
  height: 100%;
  display: grid;
  gap: 0.8px;
  grid-template-columns: 1fr 1.25fr 1fr;
  grid-template-rows: 1fr repeat(5, 2fr) 1fr;
  > a {
    text-decoration: none;
    color: inherit;
  }
  div {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $bgColor;
  }

  .home svg path {
    // invert color when menu clicked
    // mix-blend-mode: difference;
    fill: $mainColor;
    transition: 0.2s;
    z-index: 5;
  }
  .home {
    cursor: pointer;
    &:hover {
      background-color: $mainColor;
    }
    &:hover svg path {
      fill: $bgColor;
    }
  }
  .menu {
    &:hover {
      background-color: $mainColor;
      color: $bgColor;
    }
    .menu-box {
      width: 20%;
      height: 5px;
      background-color: $mainColor;
      z-index: -1;
      position: absolute;
      top: 0;
      right: 0;
      transition: all 0.5s ease-in-out;
      display: flex;
      flex-direction: column;

      .description {
        font-size: 20px;
        width: 35%;
        line-height: 170%;
        text-align: center;
        margin-bottom: 100px;
        position: absolute;
        bottom: -300%;
        opacity: 0;
        transition: all 0.8s ease-out 0.3s;
      }
      ul {
        line-height: 170%;
        position: absolute;
        bottom: -300%;
        opacity: 0;
        transition: all 0.8s ease-out 0.3s;
        display: flex;
        flex-direction: column;
        align-items: center;
        a {
          color: inherit;
          text-decoration: none;
          li {
            text-align: center;
            display: inline;
            border-bottom: 1.5px solid $bgColor;
            transition: 0.2s;
          }
          &:hover li {
            border-bottom: 1.5px solid $mainColor;
          }
        }
      }
    }
    #toggleBtn {
      display: none;
      &:checked ~ .menu-box {
        z-index: 2;
        width: 100vw;
        height: 100vh;
      }
      &:checked ~ .toggleBtn span {
        display: none;
      }
      &:checked ~ .menu-box .description {
        opacity: 1;
        bottom: 60%;
      }
      &:checked ~ .menu-box ul {
        opacity: 1;
        bottom: 20%;
      }

      &:checked ~ .toggleBtn {
        &:after {
          content: "CLOSE";
        }
        &:hover {
          color: black;
        }
      }

      &:not(:checked) ~ .menu-box {
        z-index: -1;
        width: 20%;
        height: 5px;
      }
    }
    .toggleBtn {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      z-index: 3;
    }
  }
  .number {
    cursor: pointer;
    transition: 0.2s;
    &:hover {
      background-color: $mainColor;
      color: $bgColor;
    }
  }
  .left-side {
    grid-row: 2/7;
    overflow: hidden;
    place-items: center center;
    position: relative;
    ul {
      transform: rotate(-90deg);
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      position: absolute;
      right: -100%;

      li {
        height: 30vw;
      }
    }
  }
  .right-side {
    grid-row: 2/7;
    overflow: hidden;
    position: relative;
    ul {
      transform: rotate(90deg);
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      position: absolute;
      left: -100%;
      li {
        height: 30vw;
      }
    }
  }

  .center-image {
    grid-column: 2 / 2;
    grid-row: 2 / 7;
    height: 100%;
    position: relative;
    background-color: rgba($color: #000000, $alpha: 0);
  }
  .subtitle {
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    .scrollText {
      text-transform: uppercase;
      position: absolute;
      left: 0px;
      white-space: nowrap;
      animation: scrollText 10s infinite linear;
    }
  }
}
.center-image-box {
  z-index: -5;
  width: 100%;

  .center-image__list {
    width: 38%;
    line-height: 0;
    padding-top: 8.4vh;
    margin-left: 30.46%;
    margin-bottom: 3.5%;
    li {
      width: 100%;
      img {
        cursor: pointer;
        width: 100%;
      }
    }
  }
}

@keyframes scrollText {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(-51.4%);
  }
}
